In [1]:
import pandas as pd

In [2]:
Water = pd.read_excel('C:/Users/xinyu/Desktop/6419 data visulation/week 7/Assignment 7/1/WAT01.xls')

In [3]:
Water.head()

,Areaname,STCOU,WAT110190F,WAT110190D,WAT110190N1,WAT110190N2,WAT110195F,WAT110195D,WAT110195N1,WAT110195N2,...,WAT120205N1,WAT120205N2,WAT130190F,WAT130190D,WAT130190N1,WAT130190N2,WAT130195F,WAT130195D,WAT130195N1,WAT130195N2
0,UNITED STATES,0,0,248712.41,0,0,0,263210.00,0,0,...,0,0,0,1627.16,0,0,0,1515.74,0,0
1,ALABAMA,1000,0,4040.59,0,0,0,4253.00,0,0,...,0,0,0,2000.97,0,0,0,1669.41,0,0
2,"Autauga, AL",1001,0,34.22,0,0,0,39.38,0,0,...,0,0,0,1057.57,0,0,0,1022.35,0,0
3,"Baldwin, AL",1003,0,98.28,0,0,0,120.20,0,0,...,0,0,0,406.80,0,0,0,350.58,0,0
4,"Barbour, AL",1005,0,25.42,0,0,0,26.47,0,0,...,0,0,0,242.72,0,0,0,567.81,0,0